/* Based on Color Palette: https://color.adobe.com/Neutral-Blue-color-theme-22361/ */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    background-color: #ECF0F1;
}

.center {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 500px;
    padding: 10px;
}

#helpText {
    margin-top: 100px;
    font-style: italic;
    font-size: 90%;
}

#hostFilePath {
    background-color: #ECF0F1;
    border-radius: 5px;
    border: 5px solid #193441;
    font-size: 150%
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #2980B9;

    font-family: Arial,sans-serif;
    font-size: 11px
}

footer a {
    color: #2C3E50;
}