/* Based on Color Palette: https://color.adobe.com/Neutral-Blue-color-theme-22361/ */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    /* Pattern from http://www.patternify.com/ */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQYlWO4efPm/w8fPsDxzZs3/2MTY0AXwMb+8OEDQiG6BLoYAzaTsJnMgE0RNsXEKyTaapI8Q1TwEBvgADxlczjP2GOvAAAAAElFTkSuQmCC) repeat;
}

.center {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 500px;
    padding: 10px;
}

#helpText {
    margin-top: 100px;
    font-style: italic;
    font-weight: bold;
    font-size: 90%;
}

#hostFilePathBox {
    background-color: #ECF0F1;
    border-radius: 5px;
    border: 5px solid #193441;
    font-size: 150%;
    cursor: copy;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #2980B9;

    font-family: Arial,sans-serif;
    font-size: 11px
}

footer a {
    color: #2C3E50;
}